/*Intro to CSS3- Homework 2*/
/*Large screen size preferred (Desktop or laptop)*/
header{
    background-color:#6bc2d5;
    border-radius:15px;
    background: -moz-linear-gradient (top, #00b7ea 0%, #02e4e6 100%);
    background: -o-linear-gradient (top, #00b7ea 0%, #02e4e6 100%);
    background: -webkit-linear-gradient (top, #00b7ea 0%, #02e4e6 100%);
    background:linear-gradient(#0006f0 0%, #b20465 100%);
    padding: 12px;
    background-image:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
}

h1{
    color: #f0f0f0;
    background-color: #220fff;
    text-transform: uppercase;
    text-align: center;
    font-family: Serif, Arial, Cursive, Verdana;
    font-size: 47px;
}

section{
    box-sizing: border-box;
    display: inline-block;
    background-color:#d5d5d5;
    overflow: auto;
    height: 803px;
    
}

p{
    font-size:27px;
}
ul{
    font-size: 27px;
    list-style-type: upper-alpha;
}

.active{
    background-color: #bfbfbf !important;
    color: #0e00a0 !important;
}

.left{
    box-sizing: border-box;
    display: inline-block;
    clear: left;
    background: #b266e2;
    width:23%;
    height: 800px;
    border: 5px double #ff00ff;
    margin: 0 auto;
    margin-top: 14px;
}

.right{
    box-sizing: border-box;
    display: inline-block;
    float: right;
    border-radius: 12px;
    margin: 11px 4px 4px -1px;
    background-color: #f0f0f0;
    width: 76%;
}

body{
    margin: 1%;
    padding: 2px;
    background-color: #6622f4
}

h2{
    color: #f0f0f0;
    background-color: #a00165;
    text-transform: uppercase;
    font-size: 38px;
}

/*
a{
    background-color: rgba(187,177,255,.6) ;
    color: #60000f;
    text-align: center;
}
a:link{
    color: #1100ff;
}
a:hover{
    color:#ff0000;
    background-color: #00ff00;
}
a:visited{
    color:#440006;
    background-color:#0f00f0;
}
a:active{
    color:#00ff00;
    background-color: #ffff00;
}
a:focus{
    color:#ff0f00;
}
*/

nav a{
    display: inline-block;
    width: 22%;
    height: 25px;
    background-color: #bfbfbf ;
    color: #0000ff;
    font-size: 25px;
    text-align: center;
    border-radius:18px;
    margin: 9px;
    padding: 4px;
    text-decoration: none;
    font-weight: bold;
    
}
nav a:link{
    color: #ffffff;
}
nav a:visited{
    color:#ffffff;
    background-color:#afafef;
}
nav a:hover, nav a:active{
    color:#ff0000 !important;
    background-color: #00ff00;
}
nav a:focus{
    color:#ff0f00;
}


img{ 
    display: block;
    border: 3px solid #000000;
    margin: 0 auto;
    clear:both;
    width: 85%;
    height: 185px;
    margin-top: 37px;
    margin-bottom:35px;
        
}

table{
    font-size:26px;
}
th{
    background-color: #dffffd;
    border: #000000  solid 1px;
}
td{
    border: #000000 solid 1px;
}